{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<form method="POST">
    {{ form.csrf_token() }}
    <dl>
        {{ render_field(form.first_name, class='form-control mt-4', placeholder='First name') }}
        {{ render_field(form.last_name, class='form-control', placeholder='Last name') }}
        {{ render_field(form.email, class='form-control', placeholder='Email address') }}
        {{ render_field(form.date_joined, class='form-control') }}
        {{ render_field(form.team_name, class='form-control', placeholder='Team name') }}
        {{ render_field(form.role, class='form-control', placeholder='Role') }}
        <select id="{{ form.location.id }}" name = "{{ form.location.name }}" class="form-select">
            {% for option in form.location %}
            {% if option.data == 'Please Select' %}
            <option value ="{{ option.data }}" disabled selected hidden>{{ option.data }}</option>
            {% else %}
            <option value ="{{ option.data }}">{{ option.data }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </dl>
    <div class="d-grid gap-2 text-center">
        <button class="btn btn-primary" type="submit">Add Employee</button>
    </div>
</form>

{% endblock %}