{% extends "base.html" %}

{% block content %}
<form method="POST">
    <div class="center">
       <h3>Add Employee</h3>
    <div class="row">
       <div class="col">
        <label class="form-control-label" for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required>
    </div>
    <div class="col">
        <label class="form-control-label" for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" required>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-control-label" for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="col">
            <label class="form-control-label" for="dateJoined">Date Joined</label>
            <input type="date" class="form-control" id="dateJoined" name="dateJoined" required>
        </div>
    </div>
    <div class="row">
        <div class="col">
           <label class="form-control-label" for="teamName">Team Name</label>
            <input type="text" class="form-control" id="teamName" name="teamName" placeholder="Enter team name" required>
        </div>
        <div class="col">
            <label class="form-control-label" for="role">Role</label>
            <input type="text" class="form-control" id="role" name="role" placeholder="Enter role" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="form-control-label" for="location">Location</label>
             <select class="form-select" name="location" id="location" required>
                 {%  for location in location_options %}
                 {% if  location.value == 'Please Select' %}
                 <option value ="{{ location.value }}" disabled selected hidden>{{ location.value }}</option>
                 {% else %}
                 <option value ="{{ location.value }}">{{ location.value }}</option>
                 {% endif %}
                 {% endfor %}
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>


{% endblock %}