{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="container mt-2">
    <h4> Update Employee</h4>
    <form action="{{ url_for('employee.update', employee_id = employee.employee_id) }}" method="POST">
      {{ form.csrf_token() }}
      <dl>
        {{ render_field(form.first_name, class='form-control mt-4', placeholder='First name', value=employee.first_name) }}
        {{ render_field(form.last_name, class='form-control', placeholder='Last name', value=employee.last_name) }}
        {{ render_field(form.email, class='form-control', placeholder='Email address', value=employee.email, readonly=true) }}
        {{ render_field(form.date_joined, class='form-control', value=employee.date_joined)}}
        {{ render_field(form.team_name, class='form-control', placeholder='Team name', value=employee.team_name) }}
        {{ render_field(form.role, class='form-control', placeholder='Role', value=employee.role)}}

        <div class="form-floating">
          <select id="{{ form.location.id }}" name ="{{ form.location.name }}" class="form-select">
            {% for option in form.location %}
            {% if option.data == employee.location %}
            <option value ="{{ option.data }}" selected>{{ option.data }}</option>
            {% elif option.data != 'Please Select'%}
            <option value ="{{ option.data }}">{{ option.data }}</option>
            {% endif %}
            {% endfor %}
          </select>
          <label for="{{ form.location.id }}">{{ form.location.label }}</label>
        </div>
      </dl>
      <div class="d-grid gap-2 text-center">
        <button class="btn btn-primary" type="submit">Update Employee</button>
      </div>
    </form>
</div>

{% endblock %}