

{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
    <section>
      <div class="container mt-5 pt-5">
        <div class="row">
          <div class="col-12 col-sm-7 col-md-6 m-auto">
            <div class="card border-0 shadow">
              <div class="card-body">
                  <form action="{{ url_for('auth.register')}}" method="POST">
                      {{ form.csrf_token() }}
                      <dl>
                          {{render_field(form.account_type, class="list-unstyled")}}
                          {{ render_field(form.email, class='form-control', placeholder='Email address') }}
                          {{ render_field(form.first_name, class='form-control', placeholder='First name') }}
                          {{ render_field(form.password, class='form-control', placeholder='Password') }}
                          {{ render_field(form.confirm_password, class='form-control', placeholder='Confirm password') }}
                      </dl>
                      <div class="d-grid gap-2 text-center">
                          <button class="btn btn-primary" type="Submit">Register</button>
                          <a href="{{url_for('auth.login')}}" class="text-primary">Already have an account ?</a>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}