{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="container">
    <table class="table table-hover table-striped table-light" id="employeeTable">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Team Name</th>
            <th>Role</th>
            <th>Location</th>
            <th>Date Joined</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
        <tr>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.team_name}}</td>
            <td>{{item.role}}</td>
            <td>{{item.location}}</td>
            <td>{{item.date_joined.date()}}</td>
            <td>
                <a href="/update/{{item.employee_id}}" data-bs-toggle="modal" data-bs-target="#modaledit{{item.employee_id}}"><i class="bi bi-pencil fs-4 mx-1"></i></a>
                {% if user.is_admin %}
                <a href="/delete/{{item.employee_id}}" data-bs-toggle="modal" data-bs-target="#modeldeleteemployee{{item.employee_id}}"><i class="bi bi-trash fs-4 text-danger mx-1"></i></a>
                {% endif %}
            </td>
        </tr>
        <div class="modal fade" id="modaledit{{item.employee_id}}" tabindex="-1" aria-labelledby="modelEditLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Information</h4>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('employee.update', employee_id = item.employee_id) }}" method="POST">
                      {{ form.csrf_token() }}
                      <dl>
                          {{ render_field(form.first_name, class='form-control mt-4', placeholder='First name', value=item.first_name) }}
                          {{ render_field(form.last_name, class='form-control', placeholder='Last name', value=item.last_name) }}
                          {{ render_field(form.email, class='form-control', placeholder='Email address', value=item.email, disabled=true) }}
                          {{ render_field(form.date_joined, class='form-control', value=item.date_joined.date())}}
                          {{ render_field(form.team_name, class='form-control', placeholder='Team name', value=item.team_name) }}
                          {{ render_field(form.role, class='form-control', placeholder='Role', value=item.role)}}

                          <select id="{{ form.location.id }}" name = "{{ form.location.name }}" class="form-select">
                          {% for option in form.location %}
                          {% if option.data == item.location %}
                          <option value ="{{ option.data }}" selected>{{ option.data }}</option>
                          {% elif option.data != 'Please Select'%}
                          <option value ="{{ option.data }}">{{ option.data }}</option>
                          {% endif %}
                          {% endfor %}
                          </select>

                      </dl>
                      <div class="d-grid gap-2 text-center">
                          <button class="btn btn-primary" type="submit">Update Employee</button>
                      </div>
                  </form>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <div class="modal fade" id="modeldeleteemployee{{item.employee_id}}" tabindex="-1" aria-labelledby="modelDeleteEmployeeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x-circle text-danger" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                            <h3>Are you sure?</h3>
                            <p>Are you sure you want to delete {{item.first_name}} as an employee. This process cannot be undone</p>
                            <div>
                                <a href="{{url_for('views.table')}}" class="button btn btn-secondary">Cancel</a>
                                <a href="{{url_for('employee.delete', employee_id = item.employee_id)}}" class="button btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}